/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
/*body {
    padding-top: 0px;
    padding-bottom: 20px;
    background-color: darkgoldenrod;
    background-repeat: no-repeat;
    background-size: 6000px 1000px;
}*/

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

header {
    height: 50px;
    width: 100%;
    background-color: gainsboro;
}

header {
    height: 50px;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

img[alt="NP Geek Logo"] {
    height: 50px;
    width: auto;
}

.centeredPanel {
    display: flex;
    flex-direction: row;
    margin-left: -390px;
    margin-top: 5%;
}


.park {
    text-align: center;
    margin-right: 1%;
    margin-left: 1%;
    background-color: darkcyan;
    flex-shrink: 1;
}

.detail-view {
    margin-left: 50px;
    margin-top: 5%;
}

.detailParkName{
    padding-top: 5px;
    display: inline-block;
}

/*#weather {
    display: flex;
    flex-direction: row;

}*/

#weatherPic {
    margin-right: 30px;
    margin-left: 10px;
}
#advisory {
    margin: auto;
}
.park-description {
   text-justify: distribute;
   font-size: 35px;

}
.detail-buttons {
    display: flex;
    flex-direction: row;
}


#parkDetail-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "picture park-quote " "park-info" "weather weather";
    margin-top: 50px;
    margin-right: 20px;
}


*#park-image > img {
    height: 700px;
    width: 1000px;
    /*margin: auto;*/
    margin: 0 auto;
}

.park-image {
    font-size: 30px;
    max-width: 1200px;
  margin: 0 auto;
}


.detailParkName {
    grid-area: park-quote;
}
park-info {
    grid-area: park-info;
}


#park-infoA {

    font-size: 30px;
}


footer {
    grid-area: footer;
}


body {
    display: grid;
    grid-template-columns: 8% 1fr 8%;
    grid-template-areas: ". logo ." ". main ." ". footer .";
    background-color: rgba(192, 192, 192, 0.1);

    padding-top: 0px;
    padding-bottom: 20px;
    background-color: darkgoldenrod;
    background-repeat: no-repeat;
    background-size: 6000px 1000px;
}

header {
    grid-area: logo;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

#weather {
    grid-area: weather;
    display: flex;
    flex-direction: row;
    font-size: 30px;
}

.quote, {
    font-size: 35px;
  
    padding-top: 40px;
text-align: center;

}
.q-source {
    text-align: center;
}

.btn btn-default {
    font-size: 12px;
    border-radius: 4px;
    background-color: floralwhite;
}

.feedback {
    font-size: 50px;
    margin-top: 70px;
}

.row 
{
    font-size: 35px;
    width: 3000px;
}

.surveyResponse {
    margin-top: 70px;
}

.parksSurvey {
    margin-bottom: 30px;
}